{% extends "layout.html" %}
{%- block body -%}
  <h1>{{title}}</h1>
  {# <span class="image main"><img src="static/img/course_notes2_crop.png" alt="" /></span> #}


  <script type="text/javascript">
    // enable popover
    // see http://getbootstrap.com/javascript/#popovers
    $(function () {
      $('[data-toggle="popover"]').popover()
    })

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>


  {# https://bootstrapbay.com/blog/bootstrap-button-styles/ #}
  <style>
    .mybutton {
      /*height:5em;*/
      font-size: 9px;
      font-weight:bold;
      padding: 0px 8px;
      margin: 0px;
      /*color:white;  <- not working...*/
    }

     .popover{ /* to control popup box size */
        font-size: 14px;
         /*width:800px;*/
         max-width:500px;
         /*max-width: 50%;*/
         /*height:250px;    */
     }

     a.myhover{
      /*background-color: yellow;*/
      border-bottom: dotted 1px rgba(88, 88, 88, 0.0); /* remove underlying dots */
     }
  </style>


  {#- ===== set course descriptions here ===== -#}
  {# http://www.engin.umich.edu/college/academics/bulletin/courses/eecs#500levelcourses #}
  {# https://www.eecs.umich.edu/eecs/academics/courses/eecs-545.html #}
  {% set info501 = 'Introduction to probability and random processes. Topics include probability axioms, sigma algebras, random vectors, expectation, probability distributions and densities, Poisson and Wiener processes, stationary processes, autocorrelation, spectral density, effects of filtering, linear least-squares estimation and convergence of random sequences.' %}
  {% set info516 = 'Principles of modern medical imaging systems. For each modality the basic physics is described, leading to a systems model of the imager. Fundamental similarities between the imaging equations of different modalities will be stressed. Modalities covered include radiography, x-ray computed tomography (CT), NMR imaging (MRI) and real-time ultra-sound.' %}
  {% set info545 = "A graduate-level introduction of machine learning. Topics include supervised learning, unsupervised learning, learning theory, graphical models, and reinforcement learning. This course will also cover recent research topics such as sparsity and feature selection, Bayesian techniques, and deep learning. <br><br>  In addition to mathematical foundations, this course will also put an emphasis on practical applications of machine learning to artificial intelligence and data mining, such as computer vision, data mining, speech recognition, text processing, bioinformatics, and robot perception and control. The course will require an open-ended research project." | linebreaksbr %}
  {% set info551 = "Theory and application of matrix methods to signal processing, data analysis and machine learning. Theoretical topics include subspaces, eigenvalue and singular value decomposition, projection theorem, constrained, regularized and unconstrained least squares techniques and iterative algorithms. Applications such as image deblurring, ranking of webpages, image segmentation and compression, social networks, circuit analysis, recommender systems and handwritten digit recognition." | linebreaksbr %}
  {% set info556 = "Theory and application of digital image processing. Sampling, filtering, 2D Fourier transforms, interpolation, edge detection, enhancement, denoising, restoration, segmentation, random field models of images, Bayesian methods, wavelets and sparsity models. Applications include optical imaging, biomedical images, video and image compression." | linebreaksbr %}
  {% set info564 = "Principles of estimation, linear filtering and detection. Estimation: linear and nonlinear minimum mean squared error estimation, and other strategies. Linear filtering: Wiener and Kalman filtering. Detection: simple, composite, binary and multiple hypotheses. Neyman-Pearson and Bayesian approaches." | linebreaksbr %}
  {% set info598 = "Introduction to proofs for performance guarantees that quantify the ability of a machine learning algorithm to generalize from training data to unseen test data. Topics covered include concentration of measure, uniform deviation bounds, empirical and structural risk minimization, Rademacher complexity, Vapnik-Chervonenkis theory, consistency and rates of convergence, margin-based bounds, stability bounds, and application of these theories to learning algorithms such as decision trees, boosting, support vector machines, and kernel density estimators." | linebreaksbr %}
  {% set info600 = "Introduction to the description and analysis of systems using function analytic methods. Topics covered includes: vector space, function space, metric space, normed vector space, Banach spaces, lp and Lp space, inner product space, the Projection theorem, linear functionals, dual space, Riesz Representation Theorem, Hahn-Banach Theorem, Spectral theory, optimization using duality theory, Farkas Lemma, Karush-Kuhn-Tucker theorem." | linebreaksbr %}
  {% set info755 = "Advanced topics in image reconstruction including inverse problems, sparsity, compressed sensing, and optimization, with applications in image denoising, deblurring, super-resolution, tomography, MRI, etc. The tools apply to many inverse problems, especially imaging problems, and application content will be in part adapted to student interests." | linebreaksbr %}
  {% set info451 = "The goals are to gain a deep understanding of the properties of the real numbers and how these properties are at the basis of the fundamental theorems of *analysis*; i.e. calculus and its extensions. Hallmarks are learning how to write rigorous proofs of theorems in analysis and the careful use of quantifiers, along with learning proofs of the basic theorems of calculus." | linebreaksbr %}
  {% set info611 = "Topics covered include: Convex sets and convex functions; Convex optimization problems, including linear, quadratic, semidefinite, and other special problems; Applications of convex optimization; Duality and optimality conditions; Algorithms for unconstrained and constrained convex optimization, including interior point methods, first order methods (gradient descent methods) and second order methods (Newton's method)." | linebreaksbr %}
  {% set info610 = "Topics include exponential families, sufficient statistics, theory of point estimation including unbiased and Bayesian estimation, variance bounds and information, theory of hypothesis testing (uniformly most powerful tests), duality between testing and interval estimation, curved exponential families, equivariant estimation, and empirical Bayes and shrinkage estimators." | linebreaksbr %}

  {#- moocs -#}
  {% set url_alg  = 'https://www.coursera.org/learn/algorithm-design-analysis/home/' %}
  {% set url_edx  = 'https://www.edx.org/xseries/data-science-engineering-apacher-sparktm' %}
  {% set url_edx1  = 'https://www.edx.org/course/introduction-apache-spark-uc-berkeleyx-cs105x' %}
  {% set url_edx2  = 'https://www.edx.org/course/big-data-analysis-apache-spark-uc-berkeleyx-cs110x' %}
  {% set url_edx3  = 'https://www.edx.org/course/distributed-machine-learning-apache-uc-berkeleyx-cs120x' %}
  {% set certif_alg = "https://www.coursera.org/account/accomplishments/verify/BDC784HEYD57" %}
  {% set certif_edx = "https://credentials.edx.org/credentials/090bb9ea3c7947f78a8c0a85b4da24ca/" %}
  {% set certif_edx1 = "https://courses.edx.org/certificates/d43ee5170e2a4110b0e6bb96366be06a" %}
  {% set certif_edx2 = "https://courses.edx.org/certificates/5444088fa33343848613f0a392aa3afc" %}
  {% set certif_edx3 = "https://courses.edx.org/certificates/0f48536ccb5246cea7b638ea3862d552" %}
  {% set info_alg = "Basic principles underlying algorithm design, including: 
  <ol>
  <li>divide-and-conquer-design paradigm (eg, merge-sort, quick-sort)
  <li>graph algorithms (shortest path algorithms such as Dijkstra's algorithm)
  <li>heap data structure
  <li>balanced binary search tree (via Red-black and AVL trees) 
  <ii>hash tables (collision-avoidance techniques such as chaining and linear probing)
  </ol>" | linebreaksbr %}
  {% set info_edx  = 'Perform data science and data engineering at scale using <strong>Spark</strong>, a cluster computing system well-suited for large-scale machine learning tasks. Course covers various components of data analysis pipelines, including: <i>exploratory data analysis, feature extraction, supervised learning, and model evaluation</i>. Internal details of Spark and distributed machine learning algorithms are also covered to allow one to gain intuition about working with big data and developing code for a distributed environment.
  <br/>

  List of topics:
  <ul>
    <li>How to use Spark and its libraries to solve big data problems
    <li>How to approach large scale data science and engineering problems
    <li>Spark\'s APIs, architecture and many internal details
    <li>The trade-offs between communication and computation in a distributed environment
    <li>Use cases for Spark
  </ul>
  ' | linebreaksbr %}
  {% set info_edx1  = 'This course teaches the basics of working with Spark, providing the necessary foundation for diving deeper into Spark. Course goes over Spark\'s architecture and programming model, including commonly used APIs. The focus of this course will be Spark Core and Spark SQL.

  <br><br>List of topics:
  <ul>
    <li>Basic Spark architecture
    <li>Common Spark operations
    <li>How to avoid coding mistakes commonly made in Spark
    <li>How to debug a Spark program
  </ul>
  ' | linebreaksbr %}
  {% set info_edx2  = 'The course assignments include log mining, textual entity recognition, and collaborative filtering exercises that teach students how to manipulate data sets using parallel processing with PySpark.

  <ul>
      <li><strong>Lab1: Power Plant Machine Learning Pipeline Application</strong> &mdash; <i>Extract-Tranform-Load</i> and <i>Exploratory Data Analysis</i> using Apache Spark on a real-world Power Plant dataset.     Apply several different machine learning algorithms (<i>Elastic-net, Decision Tree, Random Forest</i>) to solve a supervised regression problem on the dataset.
      <li><strong>Lab2: Collaborative Filtering</strong> &mdash; Movie rating prediction with Apache Spark using the Alternating Least Squares method on the <i>MovieLens benchmark rating dataset</i>
      <li><strong>Lab3: Word Count Application</strong> &mdash; Use Spark to develop a word count application from a unstructured text dataset. The lab focuses on using Spark\'s RDD data-structure to calculate the most common words in the Complete Works of William Shakespeare
      <li><strong>Lab4: Text Analysis and Entity Resolution with TF-IDF</strong> &mdash; use Apache Spark to apply scalable text analysis techniques and perform entity resolution across two datasets from Amazon and Google. Here we learn how to: tokenize a string, remove stopwords, compute cosine-similarity measures from text data, and implement <i>weighted bag-of-words</i> using token-weighted via TF-IDF (term-frequency/inverse-document frequency) 
  </ul>
  ' | linebreaksbr %}
  {% set info_edx3  = 'This course introduces some key statistical and algorithmic principles required to develop scalable real-world machine learning (ML) pipelines. An integrated view of data processing is presented by highlighting the various components of ML pipelines, including: exploratory data analysis, feature extraction, supervised learning, and model evaluation. 

  <ul>
      <li><strong>Lab1: Word Count Application</strong> &mdash; Use Spark to develop a word count application from a unstructured text dataset. The lab focuses on using Spark\'s RDD data-structure to calculate the most common words in the Complete Works of William Shakespeare
      <li><strong>Lab2: Linear Regression using Spark DataFrames</strong> &mdash; supervised learning using the <i>Million Song Dataset</i> from the UCI ML Repository, where the goal is to predict the release year of a song given a set of audio features. Lab goes over key  ML pipeline components, including: parsing the input dataset, training via gradient descent, model evaluation, parameter tuning via grid search.
      <li><strong>Lab3: Click-through Rate Prediction for Online Advertisements</strong> &mdash; Construct a logistic regression pipeline to predict click-through rate using data from a recent Kaggle competition. Numerical features are extracted from raw categorical data using one-hot-encoding, and the dimensionality of these features is reduced via hashing. The probabilistic predictions from Logistic Regression are interpreted using an ROC plot.  
      <li><strong>Lab4: Neuroimaging Analysis via PCA</strong> &mdash; Identify patterns of brain activity in larval zebrafish using time-varying images that capture a zebrafish\'s neural activity. After implementing distributed PCA from scratc, PCA is used to identify distinct patterns across the zebrafish brain that are induced by different types of stimuli.
  </ul>
  ' | linebreaksbr %}

  {#- ===== course urls ===== -#}
  {% set url516 = 'http://web.eecs.umich.edu/~fessler/course/516/index.html' %}
  {% set url545 = 'http://web.eecs.umich.edu/~cscott/past_courses/eecs545f09/index.html' %}
  {% set url551 = 'http://www.eecs.umich.edu/~cscott/past_courses/eecs551/index.html' %}
  {% set url556 = 'http://web.eecs.umich.edu/~fessler/course/556/index.html' %}
  {% set url564 = 'http://web.eecs.umich.edu/~cscott/past_courses/eecs564w09/index.html' %}
  {% set url598 = 'http://web.eecs.umich.edu/~cscott/past_courses/eecs598w14/index.html' %}
  {% set url755 = 'http://web.eecs.umich.edu/~fessler/course/755/index.html' %}
  {% set url610 = 'http://dept.stat.lsa.umich.edu/~moulib/stat610fall12.html' %}
  
  {#- ===== define helper macros ===== -#}
  {%- macro button(title,course_info='') -%}
    {# {% set tagtype="a" %} #}
    {% set tagtype="button" %}
    {# http://getbootstrap.com/css/#buttons-options #}
    <{{tagtype}} 
        type="button" 
        data-html="true" {# <- needed to enable html markup in "data" attribute to render http://stackoverflow.com/questions/19001766/add-line-break-to-tooltip-in-bootstrap-3 #}
        {% if tagtype == "button" %}
          class="btn btn-secondary mybutton" 
        {% else %}
          class="myhover" 
        {% endif %}
        data-toggle="popover" 
        title="{{title}}" 
        data-content="{{course_info}}" 
        data-trigger="hover">
        course info
    </{{tagtype}}>  
  {%- endmacro -%}

  {%- macro course_info(title,course_info='') -%}
    {% set tagtype="a" %}
    {# {% set tagtype="button" %} #}
    {# http://getbootstrap.com/css/#buttons-options #}
    <{{tagtype}} 
        type="button" 
        data-html="true" {# <- needed to enable html markup in "data" attribute to render http://stackoverflow.com/questions/19001766/add-line-break-to-tooltip-in-bootstrap-3 #}
        class="myhover" 
        data-toggle="popover" 
        title="{{title}}" 
        data-placement="top"
        data-content="{{course_info}}" 
        data-trigger="hover">
        {# {{title | safe}} #}
        <strong>{{ title | safe}}</strong>
        {# <span style="font-weight:550;">{{ title | safe}}</span> #}
    </{{tagtype}}>  
  {%- endmacro -%}

  {#- ===== list out courses ===== -#}
     
  <h2>Graduate Coursework (University of Michigan)</h2>
  <ul style="list-style:none">
      <li><i>(hover over course title for course description)</i></li>
      <li> 
        {{course_info("EECS 501 &mdash; Probability and Random Processes", info501)}}
          ({{ ahref(file_url('pdf/notes/501notes.pdf'), 'notes')  }})
          {# {{ button('EECS 501 &mdash; Probability and Random Processes ', info501) }} #}
      </li>
      <li> 
          {{course_info("EECS 516 &mdash; Medical Imaging Systems", info516)}}
          ({{ ahref(url516, 'course link') }})
      </li>
      <li> 
          {{course_info("EECS 545 &mdash; Machine Learning", info545)}}
          ({{ ahref(url545, 'course link') }})
      </li>         
      <li> 
          {{course_info("EECS 551 &mdash; Mathematical Methods in Signal Processing", info551)}}
          ({{ ahref(file_url('pdf/notes/551notes.pdf'), 'notes')  }}, {{ ahref(url551, 'course link') }})
      <li> 
          {{course_info("EECS 556 &mdash; Image Processing", info556)}}
          ({{ ahref(url556, 'course link') }}) 
      </li> 
      <li> 
          {{course_info("EECS 564 &mdash; Estimation, Filtering and Detection", info564)}}
          ({{ ahref(url564, 'course link') }}) 
      <li> 
          {{course_info("EECS 598 &mdash; Statistical Learning Theory", info598)}}
          ({{ ahref(file_url('pdf/notes/598notes.pdf'), 'notes')  }}, {{ ahref(url598, 'course link') }})
      <li> 
          {{course_info("EECS 600 &mdash; Function Space Methods for Systems Theory", info600)}}
          (<a href={{file_url('pdf/notes/600notes.pdf')}}>notes</a>) (<em>not formally enrolled</em>)</br>
      </li>    
      <li> 
          {{course_info("EECS 755 &mdash; Advanced Topics in Image Reconstruction", info755)}}
          ({{ ahref(url755, 'course link') }})
      <li><strong>BME 510 &mdash; Medical Imaging Laboratory</strong></li>
      <li> 
          {{course_info("Math 451 &mdash; Advanced Calculus", info451)}}
          (<a href={{file_url('pdf/notes/451notes.pdf')}}>notes</a>)
      </li>
      <li> 
          {{course_info("Math 611 &mdash; Convex Optimization", info611)}}
          (<a href="http://www-personal.umich.edu/~mepelman/teaching/IOE611/index.html">course link</a>)</li>   
      <li> 
          {{course_info("STATS 610 &mdash; Statistical Inference", info610)}}
          ({{ ahref(file_url('pdf/notes/610notes.pdf'), 'notes')  }}, {{ ahref(url610, 'course link') }})
      </li>
  </ul>

  <h2>MOOC Courses
  {# (<span style="font-weight:normal;">{{ahref("http://takwatanabe.me/coding_notes/pyspark/top-edx.html", "coding notebook for these courses")}}</span>) #}
    <span style="font-weight:normal;font-size:80%;">
    (<a href="http://takwatanabe.me/coding_notes/pyspark/top-edx.html"><i class="fa fa-book" aria-hidden="true"></i> Coding notebooks for these courses</a>)
    </span>
  </h2>
  <ul style="list-style:none">
      <li><i>(hover over course title for course description)</i></li>
      {# <li> #}
        {# (<a href="http://takwatanabe.me/coding_notes/pyspark/top-edx.html"><i class="fa fa-book" aria-hidden="true"></i> Coding notebooks created for these courses</a>) #}
        {# {{ahref("http://takwatanabe.me/coding_notes/pyspark/top-edx.html", "Coding notebooks created for these courses")}}) #}
      {# </li> #}
      <li>
          {{course_info("Coursera - Algorithms: Design and Analysis (Stanford University)", info_alg)}}
          ({{ ahref(url_alg, 'course link') }},   {{ahref(certif_alg, "course certificate") }})
      </li>
      <li>
          {{course_info("<strong>BerkeleyX - XSeries Program &mdash; Data Science and Engineering with Apache Spark</strong>", info_edx)}}
          ({{ ahref(url_edx, 'link') }}, {{ahref(certif_edx, "program certificate") }})
      </li>
      <ul style="list-style:none">
          <li>
              <mark>A three-course summer program teaching how to perform data science and data engineering at scale using Spark</mark>
          </i>
          </li>
          <li>
              {{course_info("EdX - Introduction to Apache Spark", info_edx1)}}
              ({{ ahref(url_edx1, 'course link') }}, {{ahref(certif_edx1, "course certificate") }})
          </li>
          <li>
              {{course_info("EdX - Big Data Analysis with Apache Spark", info_edx2)}}
              ({{ ahref(url_edx2, 'course link') }}, {{ahref(certif_edx2, "course certificate") }})
          </li>
          <li>
              {{course_info("EdX - Distributed Machine Learning with Spark", info_edx3)}}
              ({{ ahref(url_edx3, 'course link') }}, {{ahref(certif_edx3, "course certificate") }})
          </li>
      </ul>
  </ul>


  <span class="image main">
  <figure>
      <img src={{file_url('img/umich_law_library.jpg')}} alt="" style="max-width:750px; margin: 0 auto; display: block;"/>
      <figcaption >The Law Library at the University of Michigan &mdash; my favorite place to study.</figcaption>
  </figure>
  </span>

  <h2>Teaching &ndash; Graduate Student Instructor<br/>(University of Michigan)</h2>
  <ul>
      <li>
          <b>Fall 2011 &ndash; Machine Learning</b> (Graduate level course &ndash; 
          <a href="http://web.eecs.umich.edu/~cscott/past_courses/eecs545f11/index.html" >course link</a>)
      </li>
      <li>
          <b>Fall 2014 &ndash; Machine Learning</b> (Graduate level course &ndash; 
          <a href="http://web.eecs.umich.edu/~cscott/past_courses/eecs545f14/index.html" >course link</a>)
      </li>
      <li>
          <b>Winter 2015 &ndash; Discrete Mathematics</b>
          (<a href="https://www.eecs.umich.edu/eecs/academics/courses/eecs-203.html" >topics covered</a>)
      </li>
  </ul>



{%- endblock body -%}