{# This makes part of the layout.html base template #}
{# Brought this from twenty-template #}
<style type = "text/css" media = "all">
    #footer {
        background: #f6f6f6;
        color: #7c8081;
        /*padding: 5em 5em 10em 5em;*/
        /*http://stackoverflow.com/questions/18739937/how-to-keep-footer-at-bottom-of-screen*/
        /*padding: -25em -25em -30em -25em;*/
        height: 1px;
        /*margin-top: -7em;*/
        text-align: center;
        padding-top: -2550px;
    }

        #footer .copyright {
            font-size: 0.8em;
            line-height: 1em;
        }

            #footer .copyright a {
                color: inherit;
            }

            #footer .copyright li {
                display: inline-block;
                margin-left: 1em;
                padding-left: 1em;
                border-left: dotted 1px;
            }

                #footer .copyright li:first-child {
                    margin: 0;
                    padding: 0;
                    border: 0;
                }
        /* List */

            ul.featured-icons {
                margin: 0;
            }

                ul.featured-icons li {
                    display: inline-block;
                    float: none;
                    width: auto;
                }

                    ul.featured-icons li .icon {
                        font-size: 4em;
                        width: 1.25em;
                    }

            ul.buttons li {
                display: block;
                padding: 1em 0 0 0;
            }

/* Icon */

    .icon {
        text-decoration: none;
        position: relative;
    }

        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        .icon.circle {
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            border: 0;
            border-radius: 100%;
            display: inline-block;
            font-size: 1.25em;
            height: 2.25em;
            left: 0;
            line-height: 2.25em;
            text-align: center;
            text-decoration: none;
            top: 0;
            width: 2.25em;
        }

            .icon.circle:hover {
                top: -0.2em;
            }

            .icon.circle.fa-twitter {
                background: #70aecd;
                color: #fff;
            }

                .icon.circle.fa-twitter:hover {
                    background: #7fb7d2;
                }

            .icon.circle.fa-facebook {
                background: #7490c3;
                color: #fff;
            }

                .icon.circle.fa-facebook:hover {
                    background: #829bc9;
                }

            .icon.circle.fa-google-plus {
                background: #db6b67;
                color: #fff;
            }

                .icon.circle.fa-google-plus:hover {
                    background: #df7b77;
                }

            .icon.circle.fa-github {
                background: #dcad8b;
                color: #fff;
            }

                .icon.circle.fa-github:hover {
                    background: #e1b89b;
                }

            .icon.circle.fa-dribbble {
                background: #da83ae;
                color: #fff;
            }

                .icon.circle.fa-dribbble:hover {
                    background: #df93b8;
                }

        .icon.featured {
            cursor: default;
            display: block;
            margin: 0 0 1.5em 0;
            opacity: 0.35;
            text-align: center;
        }

            .icon.featured:before {
                font-size: 5em;
                line-height: 1em;
            }

        .icon > .label {
            display: none;
        }

</style>


                    <ul class="icons">
                        <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
                        <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
                        <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
                    </ul>

                    <ul class="copyright">
                        <li>&copy; Takanori Watanabe</li>
                    </ul>

