
<!DOCTYPE HTML>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->
        <!-- <link rel="stylesheet" href="static/css/main.css" /> -->

        <!-- ===== Include bootstrap css cdn ===== -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        {#- ===== jquery must come before bootstrap.js ===== -#}
        {#- http://stackoverflow.com/questions/22658015/bootstrap-wont-detect-jquery-1-11-0-uncaught-error-bootstraps-javascript-re -#}
        {#- http://stackoverflow.com/questions/13923297/bootstrap-javascript-or-popover-not-working -#}
        <script src="static/js/jquery.min.js"></script>
        {# <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> #}

        <!-- Latest compiled and minified JavaScript -->
        {# <script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script> #}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        {# ===== css from html5 ===== #}
        <link rel="stylesheet" href="static/css/main.css" />

        {#- ===== My (tak) styles ===== -#}
        <link rel="stylesheet" href="static/css/tak.css" />

        {# https://jpswalsh.github.io/academicons/ #}
        <link rel="stylesheet" href="static/css/academicons.css"/>

        <!--[if lte IE 9]><link rel="stylesheet" href="static/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->

        <link rel="icon" href={{file_url('img/favicon-penn.ico')}}>
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <a href="index.html" class="logo">
                        <!-- <span class="symbol"><img src="static/images/logo.svg" alt="" /></span><span class="title">Phantom</span> -->
                        <!-- <span><img src="static/images/UPenn_logo.svg" alt="" width="200" /></span> -->
                        <!-- <span><img src="static/images/penn_logo.gif" alt="" height="50" /></span> -->
                        {# <span><img src="static/img/penn_logo_cropped.png" alt="" height="30" /></span> #}
                        {# <span><img src="static/img/penn_logo_noname.gif" alt="" height="30" /></span> #}
                        {# <span>Takanori Watanabe</span> #}
                        {# <span><img src="static/img/pennmed_logo.jpg" alt="" style="width:90%; max-width:250px;" /></span> #}
                        <span style="text-transform: none; font-size: 42px; font-weight: 700; letter-spacing:0em;">Takanori Watanabe (渡辺貴則)</span>
                        {# <span><img src="static/img/perelman_logo.gif" alt="" style="width:90%; max-width:350px;" /></span> #}
                        <!-- <span class="title">Takanori Watanabe</span> -->
                    </a>

                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="research.html">Research</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li><a href="resources.html">Resources</a></li>
                    {# <li><a href="contact.html">Contact Information</a></li> #}
                    {# <li><a href="generic.html">Generic</a></li> #}
                    {# <li><a href="elements.html">Elements</a></li> #}
                </ul>
            </nav>

            <!-- Main -->
            <div id="main">
                <div class="inner">
                    {% block body %}{% endblock body%}
                </div>
            </div>
            <!-- end main -->

            <!-- Footer -->
            <footer id="footer">
                {# {%- include 'util/footer_phantom.html' %} #}
                {%- include 'util/footer_twenty.html' %}
            </footer>

            {%- if config['GOOGLE_ANALYTICS'] -%}
                {%- include 'util/google_analytics.html' -%}
            {%- endif -%}
        </div>
        <!-- end wrapper -->

        <!-- Scripts -->
        <script src="static/js/skel.min.js"></script>
        <script src="static/js/util.js"></script>
        <!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
        <script src="static/js/main.js"></script>

    </body>
</html>