{% extends "layout.html" %}
{%- block body -%}
    <h1>{{title}}</h1>
    <mark>(details coming soon!)</mark>

    <br/>
    <span class="image main" style="width:80%; margin: 0 auto; display: block;">
        <img src="{{file_url('img/research/multitask.png')}}")}} alt="" />
        <br/>
    </span>
    <span class="image main" style="width:95%; margin: 0 auto; display: block;">
        <img src="{{file_url('img/research/mtl_table.png')}}")}} alt="" />
        <br/>
        <img src="{{file_url('img/research/mtl_brain.png')}}")}} alt="" />
        <br/>
    </span>

    <br/>



    <br/>
    <br/>
    <h2>Relevant Publications</h2>
    <b>T. Watanabe</b>, D. Kessler,  C. Scott, C. Sripada, 
    "<a href="http://stmi2014.ece.cornell.edu">Multisite Disease Classification with Functional Connectomes via Multitask Structured Sparse SVM</a>,'' 
    <em>Sparsity Techniques in Medical Imaging</em>, 2014. 
    [<a href="http://takwatanabe.me/pdf/stmi2014.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> pdf</a>] 

    <br/><br/>
    <b>T. Watanabe</b>, D. Kessler,  C. Scott, C. Sripada, 
    "Multitask Structured Sparse Support Vector Machine for Multisite Connectome-based Disease Classification,'' 
    <em>Technical Report, University of Michigan</em>, 2014. 

    [<a href="http://takwatanabe.me/pdf/jcmig.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> pdf</a>] 
    [<a href="https://github.com/wtak23/spatialSVM"><i class="fa fa-github" aria-hidden="true"></i> code</a>]



{%- endblock body -%}