{% extends "layout.html" %}
{%- block body -%}
  <h1>{{title}}</h1>

  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/72.embed?link=false&logo=false"></iframe>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/74.embed?link=false&logo=false"></iframe>

  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/38.embed"></iframe>
  <iframe width="800" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/42.embed"></iframe>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/50.embed?link=false&logo=false"></iframe>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/52.embed?link=false&logo=false"></iframe>
{%- endblock body -%}