{% extends "layout.html" %}
{%- block body -%}
  <h1>{{title}}</h1>
  <iframe width="100%" height="550" frameborder="1" scrolling="no" src="https://plot.ly/~takanori/28.embed?link=false"></iframe>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/30.embed?link=false&autosize=true&logo=false"></iframe>
  <iframe width="900" height="800" frameborder="1" scrolling="no" src="https://plot.ly/~takanori/32.embed?link=false&logo=false"></iframe>
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/34.embed"></iframe>
{%- endblock body -%}