{% extends "layout.html" %}
{%- block body -%}
                <h1>{{title}}</h1>
                <span class="image main"><img src="static/images/pic13.jpg" alt="" /></span>
                <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique.</p>
                <iframe width="100%" height="550" frameborder="1" scrolling="no" src="https://plot.ly/~takanori/28.embed?link=false"></iframe>
                <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/30.embed?link=false&autosize=true&logo=false"></iframe>

                <iframe width="900" height="800" frameborder="1" scrolling="no" src="https://plot.ly/~takanori/32.embed?link=false&logo=false"></iframe>
                <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~takanori/34.embed"></iframe>
{%- endblock body -%}