{% extends "layout.html" %}
{%- block body -%}
  <h1>{{title}}</h1>
  
  <iframe width="100%" height="600" frameborder="1" scrolling="no" src="https://plot.ly/~takanori/26.embed?link=false"></iframe>
  <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~chris/1638.embed?autosize=True&link=false&logo=false" height="525" width="100%"></iframe>
  <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~takanori/22.embed" height="700" width="100%"></iframe>
  <div style="padding:50px 20px; text-align:center;">
  
  
  <div class="row">
  <iframe src="https://plot.ly/~cufflinks/54.embed?link=false&logo=false" seamless="seamless" frameborder="0" height="600" width="100%" id="plot"></iframe>
  <iframe src="https://plot.ly/~cufflinks/54.embed?link=false&logo=false" seamless="seamless" frameborder="0" height="600" width="100%" id="plotTwo"></iframe>
  </div>
{%- endblock body -%}