{% extends "layout.html" %}
{%- block body -%}
    <header>
        <h1>{{title}}</h1>
        <p>This page is still under construction...</p>
    </header>

    <section class="tiles">
        <article class="style1">
            <span class="image">
                <img src={{file_url('img/brain.jpg')}} alt="" />
            </span>
            <a href="generic.html">
                <h2>style1</h2>
                <div class="content">
                    <p>This is the human connctome project.</p>
                </div>
            </a>
        </article>
        <article class="style2">
            <span class="image">
                <img src={{file_url('img/brain.jpg')}} alt="" />
            </span>
            <a href="generic.html">
                <h2>style2</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style3">
            <span class="image">
                <img src={{file_url('img/brain.jpg')}} alt="" />
            </span>
            <a href="generic.html">
                <h2>style3</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style4">
            <span class="image">
                <img src={{file_url('img/brain2.jpg')}} alt="" />
            </span>
            <a href="generic.html">
                <h2>style4</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style5">
            <span class="image">
                <img src={{file_url('img/brain2.jpg')}} alt="" />
            </span>
            <a href="generic.html">
                <h2>style5</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style6">
            <span class="image">
                <img src={{file_url('img/brain2.jpg')}} alt="" />
            </span>
            <a href="generic.html">
                <h2>style6</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style2">
            <span class="image">
                <img src={{file_url('img/corr_clin_scores.png')}} alt="" />
            </span>
            <a href="generic.html">
                <h2>style2</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style3">
            <span class="image">
                <img src={{file_url('img/corr_clin_scores.png')}} alt="" />
            </span>
            <a href="generic.html">
                <h2>style3</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
        <article class="style1">
            <span class="image">
                <img src={{file_url('img/corr_clin_scores.png')}} alt="" />
            </span>
            <a href="generic.html">
                <h2>style1</h2>
                <div class="content">
                    <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                </div>
            </a>
        </article>
    </section>

    <br/>
    {% include "_tests_/research_old.html" %}
{%- endblock body -%}