{# icon for font-awesome  #}
.icon {
        text-decoration: none;
        position: relative;
    }
    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    .icon.circle {
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border: 0;
        border-radius: 100%;
        display: inline-block;
        /*font-size: 1.5em;*/
        font-size: 1.35em;
        height: 2.25em;
        left: 0;
        line-height: 2.25em;
        text-align: center;
        text-decoration: none;
        top: 0;
        width: 2.25em;
    }

    .icon.circle:hover {
        /* the amount the icon "jumps" up at hover */
        top: -0.3em; 
    }

    /* ==== define individual icons here ==== /*
        /* twitter icon */
        .icon.circle.fa-twitter {
            background: #70aecd;
            color: #fff;
        }        

        /* envelope icon */
        .icon.circle.fa-envelope {
            /*background: rgba(0,155,0,0.5);*/
            background: #ae85ca;
            color: #fff;
        }

        /*.icon.circle.fa-twitter:hover {
            background: #7fb7d2;
        }  */      

        /* linkedin icon */
        .icon.circle.fa-linkedin {
            background: #6B98AD;
            color: #fff;
        }


        /* facebook icon */
        .icon.circle.fa-facebook {
            background: #7490c3;
            /*background: rgba(255,0,0,0.6);*/
            color: #fff;
        }

        /*.icon.circle.fa-facebook:hover {
            background: #829bc9;
        }*/

        /* google plus icon*/
        .icon.circle.fa-google-plus {
            background: #db6b67;
            color: #fff;
        }

        /*.icon.circle.fa-google-plus:hover {
            background: #df7b77;
        }*/

        /* github icon */
        .icon.circle.fa-github {
            background: #000;
            color: #fff;
        }

        /*.icon.circle.fa-github:hover {
            background: #e1b89b;
        }*/

        /* dribble icon */
        .icon.circle.fa-dribbble {
            background: #da83ae;
            /*background: #a862a9;*/
            color: #fff;
        }

        /*.icon.circle.fa-dribbble:hover {
            background: #df93b8;
        }
*/
