{# icon for academicons https://jpswalsh.github.io/academicons/ #}
.iconai {
        text-decoration: none;
        position: relative;
    }
    .iconai:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: Academicons;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    .iconai.circle {
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        border: 0;
        border-radius: 100%;
        display: inline-block;
        /*font-size: 1.5em;*/
        font-size: 1.35em;
        height: 2.25em;
        left: 0;
        line-height: 2.25em;
        text-align: center;
        text-decoration: none;
        top: 0;
        width: 2.25em;
    }

    .iconai.circle:hover {
        /* the amount the icon "jumps" up at hover */
        top: -0.3em; 
    }

    /* ==== define individual icons here ==== /*
    /* google-scholar icon */
    .iconai.circle.ai-google-scholar {
        /*background: #5151F8;*/
        background: rgba(55,55,255,0.7);
        /*background: #da83ae;*/
        /*background: #a862a9;*/
        color: #fff;

    }    /* mendeley icon */
    .iconai.circle.ai-mendeley {
        /*background: #5151F8;*/
        /*background: rgba(55,55,255,0.7);*/
        background: #db6b67;
        /*background: #a862a9;*/
        color: #fff;
    }

    /*.iconai.circle.ai-google-scholar:hover {
        background: #7fb7d2;
    }*/

