{# This makes part of the layout.html base template #}
{# Brought this from twenty-template #}
<style type = "text/css" media = "all">
    /*===== footer =====*/
    #footer {
        /*background: #e6e6e6;*/
        background: rgb(235, 235, 255);
        /*background: #e8e8e8;*/
        /*color: #7c8081;*/
        /*padding: 5em 5em 10em 5em;*/
        /*http://stackoverflow.com/questions/18739937/how-to-keep-footer-at-bottom-of-screen*/
        /*padding: -25em -25em -30em -25em;*/
        /*height: 1px;*/
        /*margin-top: -7em;*/
        text-align: center;
        padding-top: 30px;
        padding-bottom: 5px;
    }

    #footer .copyright {
        font-size: 0.8em;
        line-height: 1em;
    }

    #footer .copyright a {
        color: inherit;
    }

    #footer .copyright li {
        display: inline-block;
        margin-left: 1em;
        padding-left: 1em;
        border-left: dotted 1px;
    }

    #footer .copyright li:first-child {
        margin: 0;
        padding: 0;
        border: 0;
    }

    /*===== List =====*/
    ul.featured-icons {
        margin: 0;
    }

    ul.featured-icons li {
        display: inline-block;
        float: none;
        width: auto;
    }

    ul.featured-icons li .icon {
        font-size: 4em;
        width: 1.25em;
    }

    ul.buttons li {
        display: block;
        padding: 1em 0 0 0;
    }

    /*===== Icon =====*/
    {%- include 'util/footer_twenty_icon_fa.css' %}
    {%- include 'util/footer_twenty_icon_ai.css' %}

</style>

{# testing icon functionality
<i class="fa fa-dribbble"></i>
<i class="ai ai-google-scholar"></i>
<i class="ai ai-google-scholar-square ai-2x"></i>
#}

{% set gscholar_url =  "https://scholar.google.com/citations?hl=en&user=tGMrt6sAAAAJ" %}
{% set mend_url     =  "https://www.mendeley.com/profiles/takanori-watanabe1/" %}
{% set linkedin_url =  "https://www.linkedin.com/in/takanori-watanabe" %}

                    <ul class="icons">
                        {# <li><a href="https://twitter.com/wtak23" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li> #}
                        {# <li><a href="https://www.facebook.com/takanori.watanabe.23" class="icon circle fa-facebook"></a></li> #}
                        {# <li><a href="#" class="icon circle fa-google-plus"></a></li> #}
                        <li><a href="https://github.com/wtak23" class="icon circle fa-github" title="Github"></a></li>
                        <li><a href={{gscholar_url}} class="iconai circle ai-google-scholar" title="Google Scholar"></a></li>
                        <li><a href={{linkedin_url}} class="icon circle fa-linkedin" title="Linkedin"></a></li>
                        {# <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li> #}
                        <li><a href={{mend_url}} class="iconai circle ai-mendeley" title="Mendeley"></a></li>
                        <li><a href="mailto:wtak[at]mail.med.upenn.edu" class="icon circle fa-envelope" title="wtak[at]mail.med.upenn.edu"></a></li>
                    </ul>

                    <ul class="copyright">
                        <li>&copy; Takanori Watanabe 2016</li>
                        <li>Site built with <a href="http://jinja.pocoo.org/">Jinja</a>, <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a> [<a href="https://github.com/wtak23/webpage_flask">Source</a>]</li>
                        <li>Penn Medicine</li>
                        {# <li>[<a href="https://github.com/wtak23/webpage_flask">Github Source</a>][<a href="https://github.com/wtak23/webpage_flask">Github Source</a>]</li> #}
                    </ul>

