  <style type = "text/css" media = "all">
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 350px;
      width: 90%;        
      /*height: 100%;*/
    }
  </style>

  <div id="map"></div>
  <script>

    function initMap() {
      var loc_marker = {lat: 39.949700, lng: -75.197749};
      var map_center = {lat: 39.94993,  lng: -75.196}; {# +lat => down, -lng => left (more negative) #}
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        // center: loc_marker
        center: map_center
      });

      var contentString_tw = 
          '<div id="map_content">'+
          // '<p>'+
          '<strong>Section of Biomedical Image Analysis (SBIA)</strong><br>'+
          '3700 Hamilton Walk, Philadelphia, PA 19104'+
          '<br>'+
          // '3700 Hamilton Walk, Richards Building, Philadelphia, PA 19104<br>'+
          'Richards Medical Research Laboratory Building'+
          ' (<a href="https://en.wikipedia.org/wiki/Richards_Medical_Research_Laboratories">'+
          'wiki</a>)'+
          // '</p>'+
          '</div>'

      var marker = new google.maps.Marker({
        position: loc_marker,
        map: map,
        title: 'Richards Medical Building'
      });
      
      var infowindow = new google.maps.InfoWindow({content: contentString_tw});
      marker.addListener('click', function() {infowindow.open(map, marker);});

      infowindow.open(map,marker); {# make info window open by default #}
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEXLTqg8_vNXVHFGv6tpnqqqu8cS1wFEE&callback=initMap">
  </script>