{# This makes part of the layout.html base template #}
                <div class="inner">

                    <!-- Logo -->
                    <a href="index.html" class="logo">
                        <!-- <span class="symbol"><img src="static/images/logo.svg" alt="" /></span><span class="title">Phantom</span> -->
                        <!-- <span><img src="static/images/UPenn_logo.svg" alt="" width="200" /></span> -->
                        <!-- <span><img src="static/images/penn_logo.gif" alt="" height="50" /></span> -->
                        {# <span><img src="static/images/penn_logo_cropped.png" alt="" height="30" /></span> #}
                        <span><img src="static/images/penn_logo_noname.gif" alt="" height="30" /></span>
                        <!-- <span class="title">Takanori Watanabe</span> -->
                        <span style="font-size: 35px;">Takanori Watanabe</span>
                    </a>

                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>

                </div>