{% extends "layout.html" %}
{% block body %}
<script>
    $(document).ready(function(){$("#tak-nav-bar>.courses").addClass("active");});
    document.title='Courses';
</script>

<h2>Completed Graduate Coursework (University of Michigan &ndash; Ann Arbor)</h2>
<!-- To do: Replace this list with a table in the future  (10/30/2014 9:16:PM) -->
<ul style="list-style:none">
    <li> EECS 501, &nbsp; Probability and Random Processes 
        (<a href={{ pdf_file("notes/501notes.pdf") }}>notes</a>)</li>
        <li> EECS 516, &nbsp; Medical Imaging Systems
            (<a href="http://web.eecs.umich.edu/~fessler/course/516/index.html">course link</a>)</li>
        <li> EECS 545, &nbsp; Machine Learning
            (<a href="http://web.eecs.umich.edu/~cscott/past_courses/eecs545f09/index.html">course link</a>)</li>            
        <li> EECS 551, &nbsp; Mathematical Methods in Signal Processing 
            (<a href={{ pdf_file("notes/551notes.pdf") }}>notes</a>, 
            <a href="http://www.eecs.umich.edu/~cscott/past_courses/eecs551/index.html">course link</a>)</li>
        <li> EECS 556, &nbsp; Image Processing
            (<a href="http://web.eecs.umich.edu/~fessler/course/556/index.html">course link</a>)</li>   
        <li> EECS 564, &nbsp; Estimation, Filtering and Detection
            (<a href="http://web.eecs.umich.edu/~cscott/past_courses/eecs564w09/index.html">course link</a>)</li>
        <li> EECS 598, &nbsp; Statistical Learning Theory            
            (<a href={{ pdf_file("notes/598notes.pdf")}}>notes</a>,
             <a href="http://web.eecs.umich.edu/~cscott/past_courses/eecs598w14/index.html">course link</a>)</li>
        <li> EECS 600, &nbsp; Function Space Methods for Systems Theory 
            (<a href={{ pdf_file("notes/600notes.pdf") }}>notes</a>) (<em>not formally enrolled</em>)</br>
        </li>    
        <li> EECS 755, &nbsp; Advanced Topics in Image Reconstruction
            (<a href="http://web.eecs.umich.edu/~fessler/course/755/index.html">course link</a>)</li>   
        <li> BME 510, &nbsp;&nbsp;&nbsp; Medical Imaging Laboratory</li>
        <li> Math 451, &nbsp;&nbsp; Advanced Calculus            
            (<a href={{ pdf_file("notes/451notes.pdf") }}>notes</a>)
        <li> Math 611, &nbsp;&nbsp; Convex Optimization
            (<a href="http://www-personal.umich.edu/~mepelman/teaching/IOE611/index.html">course link</a>)</li>   
        <li> STATS 610, Statistical Inference
            (<a href={{ pdf_file("notes/610notes.pdf") }}>notes</a>)</li>     
           <!-- <br/> -->

</ul>

<h2>Teaching &ndash; Graduate Student Instructor (University of Michigan)</h2>
<ul>
    <li>
        <b>Fall 2011</b> &ndash; Machine Learning (Graduate level course &ndash; 
        <a href="http://web.eecs.umich.edu/~cscott/past_courses/eecs545f11/index.html" >course link</a>)
    </li>
    <li>
        <b>Fall 2014</b> &ndash; Machine Learning (Graduate level course &ndash; 
        <a href="http://web.eecs.umich.edu/~cscott/past_courses/eecs545f14/index.html" >course link</a>)
    </li>
    <li>
        <b>Winter 2015</b> &ndash; Discrete Mathematics
        (<a href="https://www.eecs.umich.edu/eecs/academics/courses/eecs-203.html" >topics covered</a>)
    </li>
</ul>


{% endblock %}