{% extends "layout.html" %}
{% block body %}
<script>
    $(document).ready(function(){$("#tak-nav-bar>.home").addClass("active");});
    document.title='Takanori Watanabe (渡辺貴則) - Home';
</script>

<div class="row">
    <div class="col-md-8 col-xs-7">
        <!--<h2>About me</h2>-->
        <p>
            <strong>Postdoctoral Research Fellow</strong><br/>
            <strong>Perelman School of Medicine &ndash; Department of Radiology</strong><br/>
            <!-- <strong>University of Michigan &ndash; Ann Arbor</strong><br/> -->
            <strong>University of Pennsylvania</strong><br/>
            <br/>
            <strong>Email address:</strong> takanori [at] umich.edu, wtak [at] mail.upenn.edu<br/>
            <strong>Phone:</strong> (734) 615-7027<br/>
            <strong>Address</strong>: 3700 Hamilton Walk, Richards Building (7th floor), Philadelphia, PA 19104<br/>
        </p>
        <p>
            I am a postdoctoral research fellow working at the 
            Section of Biomedical Image Analysis (<a href="https://www.cbica.upenn.edu/sbia/">SBIA</a>), 
            University of Pennsylvania.
            My research focuses on designing new machine learning and large-scale optimization algorithms, 
            particularly for studying patterns in large and complicated biomedical datasets.
            For additional information about my research, please visit my <a href="research.php">research page</a> or 
            check out my
            <a href="http://scholar.google.com/citations?hl=en&user=tGMrt6sAAAAJ" >Google Scholar entry</a>
            and <a href="https://github.com/wtak23" >Github page</a>.
        </p>
        <p>
            Prior to joining Penn, I worked as a Graduate Research Assistant in the <a href="http://www.eecs.umich.edu/"  >EECS</a> department
            at the <a href="http://www.umich.edu" >University of Michigan &ndash; Ann Arbor</a>, where I received my PhD degree in Electrical Engineering and Computer Science.
            During my time at Michigan, I conducted machine learning research under the supervision of Professor
            <a href="http://web.eecs.umich.edu/~cscott/" target="blank">Clayton Scott</a> and 
           Professor <a href="http://sites.lsa.umich.edu/sripada/" >Chandra Sripada</a>.
           I successfully defended my PhD on December, 2014.
        </p>
        <!--<p>My research interests include area such as: Machine Learning, Statistical Signal Processing, 
        Large Scale Convex Optimization, Sparsity and Feature Selection, Functional Neuroimaging.</p>-->
        <!--<p><strong>Research Interests</strong>: Machine Learning, Statistical Signal Processing, 
        Large Scale Convex Optimization, Sparsity and Feature Selection, Functional Neuroimaging.</p>-->



    <h3>Personal (jumbled) Coding Notes</h3>
    <ul>
        <li>
            [<a href="https://wtak23.github.io/snippets/" >Snippet notebook</a>]
            [<a href="https://wtak23.github.io/coding_notes/" >Coding notebook</a>]
            [<a href="https://wtak23.github.io/configs/" >Computer-config notebook</a>]
        </li>
        <li>Personal <a href="https://wtak23.github.io/pyspark/" >PySpark API</a> I created since I found the <a href="http://spark.apache.org/docs/latest/api/python/index.html">official API</a> hard to navigate</li>
    </ul>

    <h3>Teaching &ndash; Graduate Student Instructor (University of Michigan)</h3>
    <ul>
        <li>
            <b>Fall 2011</b> &ndash; Machine Learning (Graduate level course &ndash; 
            <a href="http://web.eecs.umich.edu/~cscott/past_courses/eecs545f11/index.html" >course link</a>)
        </li>
        <li>
            <b>Fall 2014</b> &ndash; Machine Learning (Graduate level course &ndash; 
            <a href="http://web.eecs.umich.edu/~cscott/past_courses/eecs545f14/index.html" >course link</a>)
        </li>
        <li>
            <b>Winter 2015</b> &ndash; Discrete Mathematics
            (<a href="https://www.eecs.umich.edu/eecs/academics/courses/eecs-203.html" >topics covered</a>)
        </li>
    </ul>


    <h3><mark>Webpage built using <a href="http://jinja.pocoo.org/">Jinja</a>, <a href="http://flask.pocoo.org/">Flask</a>, and <a href="http://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a></mark> [<a href="https://github.com/wtak23/webpage_flask">Github source</a>]</h3>
    </div>
    <div class="col-md-4 col-xs-5">
        <img src="static/img/profile.jpg" alt="Tak Watanabe" class="img-circle" 
             width="220px" align="left" style="position:relative; top:30px;">
    </div>
</div>

{% endblock %}