<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Personal Webpage of Takanori Watanabe">
        <meta name="author" content="Takanori Watanabe">

        <title>Takanori Watanabe (渡辺貴則) </title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> -->
        <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>

        <!--my (tak) stylesheets-->
        <link rel=stylesheet type=text/css href={{ url_for('static', filename='css/justified-nav.css') }}>
        <link rel=stylesheet type=text/css href={{ url_for('static', filename='css/tak.css') }}>

        <!-- cdn -->
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> --> 
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script> -->   
        
        <!-- local -->
        <script src={{ url_for('static', filename='js/jquery-1.11.1.min.js') }}></script>
        <script src={{ url_for('static', filename='js/jquery-ui.min.js') }}></script>


        <link rel="icon" href="static/img/favicon-penn.ico">
    </head>

    <body>
        <div class="container">
        {% include 'navbar.html' %}

        <div class="tak-main-body" >
        {% block body %}{% endblock %}
        </div>
        {% include 'footer.html' %}
        
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
        <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
        {# http://stackoverflow.com/questions/7104198/flask-accessing-the-config-variable-in-the-template #}
        {%- if config['GOOGLE_ANALYTICS'] -%}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-55756816-1', 'auto');
                ga('send', 'pageview');
            </script> 
        {%- endif %}
        </div> {# container div #}
    </body>
</html>